@import url("https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap");
@import "reset.scss";

body {
  font-family: Poppins;
  background-color: #222;
  color: #fff;

  .sensors {
    display: flex;

    .sensor {
      .name {
        font-size: 20px;
        color: #ddd;
        margin-bottom: 5px;
      }

      .temperature {
        font-family: Rubik;
        display: flex;
        align-items: flex-end;

        .number {
          font-size: 48px;
          line-height: 48px;
        }

        .fractional {
          vertical-align: bottom;
          font-size: 24px;
          line-height: 24px;
          padding-bottom: 4px;
        }
      }

      .thermometer {
        margin-right: 15px;
      }
    }
  }

  .box {
    margin: 10px 0 0 10px;
    padding: 20px;
    background-color: #303030;
  }

  @media (min-width: 500px) {
    .sensors {
      .sensor {
        min-width: 180px;
      }
    }
  }

  @media (max-width: 500px) {
    .sensors {
      display: block;
    }

    .box {
      margin: 10px 0 0 0;
      padding: 20px;
    }
  }
}
